body {
	background-color: black;
	color: white;
	background-image: linear-gradient(to right, #fc5c7d, #6a82fb);
	font-family: Lucida Sans;
	background-size: cover;
}
i {
	margin-right: 5px;
	text-align: center;
}
.main-container {
	justify-content: center;
	align-items: center;
	display: flex;
	margin: 50px 150px;
	padding: 15px 15px;
	border-radius: 15px;
	transition: 0.25s;
}
#pfp {
	border-radius: 50%;
	border: 5px solid #bcbcf2;
}
.sub-container {
	justify-content: center;
	align-items: center;
	display: flex;
	flex-direction: column;
	color: white;
	width: 100%;
	max-width: 500px;
}
.sub-container a {
	background-color: #011528;
	padding: 15px 0px;
	margin: 15px 10px;
	text-align: center;
	color: white;
	text-decoration: none;
	border-radius: 8px;
	width: 100%;
	transition: 0.15s;
}
.sub-container a:hover {
	background-color: #0099ff;
}

@media screen and (max-width: 850px) {
	body {
		background-size: cover;
        height: 100%;
	}
	.main-container {
		margin: 50px 0px;
		
	}
} 